.mx-perso {
    margin-left: 35%;
    transform: translateX(-50%);
    width: max-content;
}

.pointer:hover {
    cursor: pointer;
    color: rgb(73, 170, 238);
    text-decoration: underline;
    width: max-content;
}

.py-auto {
    padding: auto 0;
}

#command-group {
    display: flex;
    justify-content: space-around;
}

.h-custom {
    min-height: 3rem;
    height: max-content;
    padding-top: 0.75rem;
}

@media screen and (max-width: 990px) {
    #command-group {
        display: block;
    }

    #command-group * {
        margin: 10px 0;
    }

    #button-group a {
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .d-custom {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .offset-1 {
        margin-left: 0 !important;
    }
}