* {
    font-family: 'Lucida Sans', Verdana, Arial, Helvetica, sans-serif !important;
}

.entity-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.entity-link:hover {
    text-decoration: underline;
}