{% extends "base.html.twig" %}

{% block stylesheets %}
	<link href="/css/people/styles.css" rel="stylesheet"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
	<link href="https://cdn.jsdelivr.net/npm/quasar@2.13.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios@1.4.0/dist/axios.min.js"></script>
	<script src="/JS/people/peopleApp.js" type="module"></script>
{% endblock %}

{% block body %}

	<body class="container">
		<main>
			<h1 class="text-center mx-auto my-2 fs-1">
				Liste des usagers
			</h1>

			{% if message is defined %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endif %}

			{% verbatim %}
				<div class="row" id="app">
					<div
						class="col-md-10 offset-1">
						<!-- Commands section-->
						<div class="my-5" id="command-group">
							<div class="" id="dropdown-group">
								<select class="form-select form-select-lg" @change="loadPeoples(4, $event.target.value)" aria-label="Sélectionnez un statut">
									<option disabled selected>
										Statut
									</option>
									<option v-for="statut in status" :key="status.id" v-bind:value="statut.id">
										{{statut.name}}
									</option>
								</select>
							</div>

							<div class="input-group-text h-custom d-custom" id="checkbox-group">
								<input @click="toggleColumns" class="form-check-input" type="checkbox" value="" aria-label="Checkbox for following text input" id="all-fields">
								<label class="text-wrap ms-2" for="all-fields">
									Afficher toutes les colonnes
								</label>
							</div>

							<div class="" id="button-group">
							{% endverbatim %}
							<a href="{{ path('app_admin_people_new') }}" type="button" class="text-wrap btn btn-success h-custom">
								<i class="$bi bi-plus-circle me-2"></i>
								Nouveau
							</a>
						</div>
					</div>
					<!-- End of commands section -->

					<div
						class="table-wrap">
						<!-- There are columns to filter, according to the value of
						                        currentStatusId (selected in the Status select dropdown) -->
						<commontable>
							<template #header>
								<commonthead v-bind:vcolumnsclass="columnsClass"></commonthead>
							</template>
							<template #body>
								<commontbody v-for="people in peoples" v-bind:people="people" v-bind:vcolumnsclass="columnsClass" @showdetails="showdetails(people)"></commontbody>
							</template>
						</commontable>
					</div>
				</div>
			</div>
		</main>
	</body>
{% endblock %}
