<form 
method="post" 
action="{{ path(path, {'id': id}) }}" 
{# onsubmit="return confirm('Voulez-vous rééllement supprimer ce casier ?');"> #}
onsubmit="return confirm('Voulez-vous rééllement supprimer {{ thingToDelete }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    <button class="btn btn-danger my-3">
        <i class="bi bi-trash me-2"></i>
        Supprimer
    </button>
</form>
