<a href="{{ path(edit_path, {'id': id}) }}" type="button" class="btn btn-info">
    {% if text is defined %}
        <i class="bi bi-pencil me-2"></i>
    {% else %}
        <i class="bi bi-pencil"></i>
    {% endif %}
    {{ text|default('') }}
</a>