<!DOCTYPE html>
{# {% set isNarrow = false %} #}
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{% if page_name is defined %}
					{{page_name}}
				{% endif %}
				| POC people
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" {% block description %} content="" {% endblock %}/>
		<meta name="author" content="Sylvain JUST"/>
		<meta name="robots" content="noindex">
		<link rel="apple-touch-icon" sizes="76x76" href="/../images/icons/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/../images/icons/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/../images/icons/favicon/favicon-16x16.png">
		<link rel="manifest" href="/../images/icons/favicon/site.webmanifest">
		<link rel="mask-icon" href="/../images/icons/favicon/safari-pinned-tab.svg" color="#555d5f">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="theme-color" content="#ffffff">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
		<link rel="apple-touch-icon" sizes="180x180" href="/../images/icons/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/../images/icons/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/../images/icons/favicon/favicon-16x16.png">
		<link rel="manifest" href="/../images/icons/favicon/site.webmanifest">
		<link rel="stylesheet" href="/css/templates/navbar.css">
		<link rel="stylesheet" href="/css/global.css"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>

		<body class="container w-75">
			{% block navbar %}
				<nav class="navbar navbar-expand-lg bg-primary-subtle">
					<div class="container-fluid">
						<div class="logo-container">
							<img src="/images/icons/favicon/android-chrome-72x72.png" alt="logo POC_people">
							<a class="navbar-brand p-1" href="#">
								POC_people
							</a>
						</div>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavDropdown">
							<ul class="navbar-nav d-flex w-100">
								{% if is_granted('ROLE_USER') %}

									<li class="nav-item mx-2 p-1">
										<a class="nav-link" aria-current="page" href="{{ path('app_people') }}">
											Usagers
										</a>
									</li>
									<li class="nav-item mx-2 p-1">
										<a class="nav-link" href="{{ path('app_prescripteurs') }}">
											Prescripteurs
										</a>
									</li>
									<li class="nav-item mx-2 p-1">
										<a class="nav-link" href="{{ path('app_opens') }}">
											Passages
										</a>
									</li>
									<li class="nav-item mx-2 p-1">
										<a class="nav-link" href="{{ path('app_logout') }}">
											Déconnexion
										</a>
									</li>
								{% endif %}
								{% if not is_granted('ROLE_USER') %}
									<li class="nav-item mx-2 p-1">
										<a class="nav-link" href="{{ path('app_login') }}">
											Connexion
										</a>
									</li>
								{% endif %}
								{% if is_granted('ROLE_ADMIN') %}
									<li class="nav-item dropdown ms-2 ms-lg-auto me-5 p-1" id="dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Admin
										</a>
										<ul class="dropdown-menu bg-primary-subtle">
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_register') }}">
													<b>
														Nouvel utilisateur
													</b>
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_user_index') }}">
													<b>
														Liste des utilisateurs
													</b>
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_box_index') }}">
													Casiers
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_contact_index') }}">
													Contacts
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_contact_type_index') }}">
													Types de contact
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_gender_index') }}">
													Genres
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_open_index') }}">
													Passages
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_people_index') }}">
													Personnes
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_reason_index') }}">
													Raisons de
																																							                                    changement
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_role_index') }}">
													Rôles
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_status_index') }}">
													Statuts
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_admin_status_history_index') }}">
													Historiques de statuts
												</a>
											</li>
										</ul>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>
			{% endblock %}
			{% if isNarrow|default(false) %}
				<div class="w-75 mx-auto">
				{% endif %}
				{% block body %}
				{% endblock %}
				{% if isNarrow|default(false) %}
				</div>
			{% endif %}
			{% block scripts %}
				<script src="/JS/navbarDropdown.js" type="module"></script>
				<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/quasar@2.13.0/dist/quasar.umd.prod.js"></script>
			{% endblock %}
		</body>

	</html>
